{% if site.posts.size > 0 %}
  <ul>
    {% if include.limit %}
      {% for post in site.posts limit: include.limit %}
        <li class="post-list-item">
          <span class="home-date">
            {{ post.date | date: site.theme_config.date_format }} »
          </span>
          <span style="view-transition-name: title;">
              <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
          </span>
        </li>
      {% endfor %}
    {% else %}
      {% for post in site.posts %}
        <li class="post-list-item">
          <span class="home-date">
            {{ post.date | date: site.theme_config.date_format }} »
          </span>
          <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        </li>
      {% endfor %}
    {% endif %}
  </ul>
{% endif %}
